<div class="col-xs-12">
    <div id="photo-header" class="text-center">
        <!-- PHOTO (AVATAR) -->
        <div id="photo">
            <img ng-src="{{header.avatar}}" alt="avatar">
        </div>
        <div id="text-header">
            <h1>Hello,<br> my name is <span>{{header.name}}</span><sup>{{header.years}} yo</sup> and this is my resume</h1>
            <div class="well well-sm" id="header-well">
              <p><small>{{header.description}}</small></p>
            </div>
        </div>

    </div>
</div>
